.avatar{
	background: white;
	color: #444;
	padding: 10px;
	text-align: center;
	border-radius: 50%;
	font-weight: bold;
	text-transform: uppercase;
	font-size: x-large;
	border: 2px solid skyblue;
}
.avatar-sm{width: 25px;height: 25px;font-size: .1em;float: left;}
.avatar-lg{width: 100px; font-size: 54px;}
.avatar-md{width: 43px;padding:10px; border:none;font-size: medium;}